# Editor configurations
.vs/
.idea/

# Environment files
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/
__pycache__/
build/
dist/

# User files
.env*
!.env*.template

# Miscellaneous files
.tmp/
.DS_Store
Desktop.ini
Thumbs.db
!.gitkeep
